.jztit{
width: 100%;

    margin: 20px 0;
    font-size: 18px;
    color: #004c98;
    line-height: 36px;
    border-bottom: 1px solid #ececec;
}
.jztit:before {
    content: "";
    width: 4px;
    height: 17px;
    margin: 10px 5px 0 0;
    background: #004c98;
    display: inline-block;
    vertical-align: top;
}

 .jzadmin th {
    height: 38px;
    text-align: center;
}

 .jzadmin td {
    padding: 10px;
    text-align: center;
}
 .jzadmin td p {
    text-align: left;
}

 .jzadmin input {
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

 .jzadmin textarea{  
    border: 1px solid #ddd;
 padding: 5px 10px;}
.uploadimg img {
width: 100%;
 height: 100%;

  display: block;

  -o-object-fit: cover;
  object-fit: cover;
}
.uploadimg span{

    width: 20%;
  height: 220px;
  display: block;
   float: left;
     margin-right: 1%;
	 border: 1px solid #ddd;
}
td {
  position: relative;
}
.uploadimg strong.jzupup{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(21, 21, 22, 0.4);
  width: calc(20% - 0.25em);
  text-align: center;
  padding: 5px 0;
  color: #fff;
  display: block;
  border-radius:0;
}
strong {
    background-color: #3a6ea5;
    padding:8px 10px;
    color: #ffffff;
	border-radius:2px;
}
.sedit, .uplod_img {
  width: 79%;
}
.jzadmin input {
  margin: 0.25em 0;
}
.jzadmin input.text {
  padding: 2px 5px;
}
.jzadmin select {
    width: 252px;
    height: 32px;
	border: 1px solid #ddd;
}
.jzadmin .setokicon {
    width: 16px;
    height: 16px;
    float: none;
    padding: 0;
	margin: 0 0.5em;
    border: 0;
    cursor: pointer;
    background: url(../../../../zb_system/image/admin/ok.png) no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.jzadmin .setdelicon {
    width: 16px;
    height: 16px;
    float: none;
    padding: 0;
	margin: 0 0.5em;
    border: 0;
    cursor: pointer;
    background: url(../../../../zb_system/image/admin/delete.png) no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.jzsubmit{

    border-top: 1px solid #ddd;
	width: 100%;
    padding: 12px 0;
    color: #666;
    position: relative;
	
}
.jzadmin .button {
    height: 36px;
    padding: 0px 20px;
    color: #fff;
    margin: 0;
	border:0;
}
.jzSubMenu{
    height: 35px;
    line-height: 34px;
	border-bottom: 1px solid #3399cc;
}
.jzSubMenu a {
    background: #fff;
}
.jzSubMenu a:hover,.jzSubMenu span.m-now {
    background: #3a6ea5;
	color:#fff;
}
.jzSubMenu a:hover span {
    color: #fff;
}
